/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header_section{
        & .nav_menu{
            & li{
                & .active{
                    &::after{
                        left: 0;
                        bottom: 8px;
                        width: 9%;
                        height: 3px;
                    }
                }
            }
        }

    }

    .hero_section{
        & .wrapper_left{
            & .title{
                font-size: 4rem;
                & .text_color{
                    &::after{
                        left: 5px;
                        bottom: 15px;
                    }
                }
            }

        }
        & .hero_img{
            margin-top: 4rem;
        }
    }

    .service{
        background-size: cover;
    }
    .about{
         & .wrapper_right{
             padding: 2rem 0;
             & .title{
                 text-align: center;
             }
             & .my_btn{

             }
         }
    }
    .work_section{
        background-size: cover;
        margin-top: 3rem;
        & .work_wrapper_left{
            justify-content: center;
            margin-bottom: 2rem;
            & .title{
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    .testimonial_section{
        & .title{
            font-size: 2rem;
        }
    }

    .footer_section{
        & .footer_title{
            & .sub_title{
                text-align: center;
            }
            & .input-group{
                width: 100%;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}